
header
  
  div(class='menu-header')
    
    div(class='menu-bar')
      span(class='icon icon-menu') 
      
    div(class='menu-user')
      span(class='text-underline') #{userName} 
    
  nav(class='menu-options')
    ul
      // 
        example menu - submenu
        - var active = ''
        if title !== undefined 
          - active = ''
        
        li(class='#{active}')
          a(href="#") Menu 1 #[span ]
          
          ul(class='submenu hidden' )
            li
              a(href="#") submenu 1
            li
              a(href="#") submenu 2       
       
      - var home = ''      
      if title == 'Home'
        - home = 'active'      
      
      li(class='#{home}')
        a(href="http://localhost:4040/app") Inicio  
                  
      - var ingreso = ''
      if title == 'Ingresos'
          - ingreso = 'active'        
            
      li(class='#{ingreso}')
        a(href="http://localhost:4040/app/ingresos") Ingresos
      
      -var gastos = '';
      if title == 'Gastos'
        - gastos = 'active'       
        
      li(class='#{gastos}')
        a(href="http://localhost:4040/app/gastos") Gastos
      
      li
        span Configuracion #[span(class='icon-point-down' style='font-size:0.7em')]
        ul(class='submenu hidden' )
          li
            a(href="http://localhost:4040/app/perfil") Perfil 
          li
            a(href="http://localhost:4040/app/perfil/clave") Cambiar Clave 
          li
            a(href="#") Cerrar sesion
        
        
        
      
      


    
    
    
