// mostrar los 

extends ../template/layout

block content
  
  include ../template/menu.jade
  
  main(class='container')
    
    section(class='row')
      
      
      div(class='col-12')      
        h2 Ingresos                
        a(href='http://localhost:4040/app/nuevo') #[span(class='icon icon-plus')]
        p hay #{filas} filas.
        //center #[a(href="/reportes" class='icon-file-pdf')]
        //center #[a(href="http://localhost:4040/app/reporte/reportes" class='icon-file-pdf')]
        center #[a(href="#" class='icon-file-pdf link-reporte-ingreso')]
        
        table(class='tb-center')          
          thead
            tr
              th Categoria
              th Valor
              th Fecha Publicacion
              th Opciones
          tbody            
            if filas > 0
              each ingreso in resultado              
                tr
                  td(data-label='Categoria')= ingreso.descripcion
                  td(data-label='Valor')= ingreso.valor
                  td(data-label='Fecha Publicacion')= ingreso.fecha_creacion
                  td(data-label='Opciones' id='#{ingreso.ingresos_id}') #[a(href='http://localhost:4040/app/editar/'+ingreso.ingresos_id) #[span(class='icon-pencil') ] ] #[a(href='#' class='buttonEliminarIngreso') #[span(class='icon-bin')]]  
            else 
              tr 
                td(colspan='4') No hay registros
      
      
      div(class='msj success hidden')
        div(class='icon-cross close')
        div(class='mensaje') 
                  
      div(class='msj error hidden')
        div(class='icon-cross close')
        div(class='mensaje')                
  
  block script 
